<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="connectionString" value="Data Source=ACER1211;Initial Catalog=APRO09;Integrated Security=True;Connect Timeout=30;Encrypt=False;"/>
	</appSettings>
</configuration>